/*********************
GENERAL STYLESHEET
*********************/

body {
  color: $black;
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.inner-content, .inner-footer, .inner-header {
  @include container($wrapper-width);
  @include clearfix;

  padding: 0 40px;
}