/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color: $link-hover;
  }
}