/*********************
GRID
*********************/

// values for breakpoint
$super-small: 480px;
$mobile: 768px;
$desktop: 1020px;
$super-big: 1320px;


// variables for breakpoint function
$bp-small: 0 $super-small;
$bp-mobile: 0 $mobile;
$bp-desktop: $mobile + 1;
$bp-big: $super-big;