/*********************
VARIABLES
*********************/

$black:             #000;
$white:             #fff;
$gray:              #555;
$light-gray:        #ccc;

$link-color:        blue;
$link-hover:        darken($link-color, 9%);
