/******************************************************************
Site Name: VCUarts
Author: VCUarts Web Dev Team
Stylesheet: Main Stylesheet
******************************************************************/

/*********************
NORMALIZE
*********************/

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
	outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong,
.strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn,
em,
.em {
	font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/*
 * Addresses margins set differently in IE6/7.
 */

pre {
	margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
	white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

q:before,
q:after {
	content: '';
	content: none;
}

small,
.small {
	font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */

/*
 * Addresses margins set differently in IE6/7.
 */

dl,
menu,
ol,
ul {
	margin: 1em 0;
}

dd {
	margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */

menu {
	padding: 0 0 0 40px;
}

ol,
ul {
	padding: 0;
	list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
	border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
	overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
	margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.image-replacement,
.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*********************
VARIABLES
*********************/

/*********************
MIXINS
*********************/

.clearfix,
.cf {
	zoom: 1;
}

.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.clearfix:after,
.cf:after {
	clear: both;
}

/*********************
GRID
*********************/

/*********************
TYPE
*********************/

/*********************
BUTTONS
*********************/

/*********************
GENERAL STYLESHEET
*********************/

body {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

.inner-content,
.inner-footer,
.inner-header {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
	padding: 0 40px;
}

.inner-content:after,
.inner-footer:after,
.inner-header:after {
	content: " ";
	display: block;
	clear: both;
}

.inner-content:before,
.inner-content:after,
.inner-footer:before,
.inner-footer:after,
.inner-header:before,
.inner-header:after {
	content: "";
	display: table;
}

.inner-content:after,
.inner-footer:after,
.inner-header:after {
	clear: both;
}

/*********************
LINK STYLES
*********************/

a,
a:visited {
	color: blue; /* on hover */ /* on click */ /* mobile tap color */
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
	color: #0000d1;
}

a:link,
a:visited:link {
	-webkit-tap-highlight-color: #0000d1;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
	text-decoration: none;
}

h1,
.h1 {
	font-size: 2.5em;
	margin: 0.67em 0;
	line-height: 1.333em;
}

h2,
.h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3,
.h3 {
	font-size: 1.125em;
}

h4,
.h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5,
.h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0; /* end .nav li */ /* highlight current page */
}

.nav li a {
	display: block;
	text-decoration: none;
	padding: 0.75em;
}

.nav li ul.sub-menu li a,
.nav li ul.children li a {
	padding-left: 30px;
}

/* end .nav */

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}

.pagination {
	text-align: center;
}

.pagination ul {
	display: inline-block;
	background-color: #fff;
	white-space: nowrap;
	padding: 0;
	clear: both;
	border-radius: 3px;
}

.pagination li {
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
	overflow: hidden;
	border-right: 1px solid #555;
}

.pagination a,
.pagination span {
	margin: 0;
	text-decoration: none;
	padding: 0;
	line-height: 1em;
	font-size: 1em;
	font-weight: normal;
	padding: 0.75em;
	min-width: 1em;
	display: block;
	color: blue;
}

.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus {
	background-color: blue;
	color: #fff;
}

.pagination .current {
	cursor: default;
	color: #000;
}

.pagination .current:hover,
.pagination .current:focus {
	background-color: #fff;
	color: #000;
}

.wp-prev-next .prev-link {
	float: left;
}

.wp-prev-next .next-link {
	float: right;
}

/*********************
VCU BAR
*********************/

.vcubar {
	background: #fff;
	border-top: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
}

.vcubar a {
	display: block;
	position: absolute;
	z-index: 2;
	height: 100%;
	line-height: 40px;
}

.vcubar a.vcu {
	width: 346px;
}

.vcubar a.vcu:hover .vcu-dk {
	opacity: 0;
}

.vcubar a.vcu:hover .vcu-color {
	opacity: 1.0;
}

.vcubar a.vcuarts {
	width: 84px;
	right: 0;
}

.vcubar a.vcuarts:hover .arts-dk {
	opacity: 0;
}

.vcubar a.vcuarts:hover .arts-color {
	opacity: 1.0;
}

.vcubar .inner-vcubar {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
	height: 2em;
	position: relative;
}

.vcubar .inner-vcubar:after {
	content: " ";
	display: block;
	clear: both;
}

.vcubar .inner-vcubar:before,
.vcubar .inner-vcubar:after {
	content: "";
	display: table;
}

.vcubar .inner-vcubar:after {
	clear: both;
}

.vcu-color,
.arts-color {
	opacity: 0;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.vcu-dk,
.arts-dk {
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

/*********************
FOOTER
*********************/

.footer {
	zoom: 1;
}

.footer:before,
.footer:after {
	content: "";
	display: table;
}

.footer:after {
	clear: both;
}

@media (min-width: 0) and (max-width: 480px) {

.vcu-name {
	display: none;
}

}

@media (min-width: 769px) {

.nav li {
	display: inline-block;
}

}

@media print {

/*********************
PRINT STYLESHEET
*********************/

* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	-webkit-filter: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a,
a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a:after,
a:visited:after {
	content: " (" attr(href) ")";
}

a abbr[title]:after,
a:visited abbr[title]:after {
	content: " (" attr(title) ")";
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

.sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav {
	display: none;
}

}

